[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow-gpu = "*"
librosa = "*"
"boto3" = "*"
pandas = "*"
numpy = "*"
scipy = "*"
youtube-dl = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.6"
